# NetBeans
nbproject/private/
nbproject/ant-deploy.xml
nbbuild/
dist/

# Build output
build/
*.html

# OS
.DS_Store
Thumbs.db

# IDE khác
.idea/
*.iml
.vscode/

.cursor/
/build

"build/web/WEB-INF/classes/Utils/DbContext.class"
