# NetBeans
nbproject/private/
nbproject/ant-deploy.xml
nbbuild/
dist/

nbproject/private/

nbproject/project.properties
sql/
.env
# Build output
build/
*.html

# OS
.DS_Store
Thumbs.db

# IDE khác
.idea/
*.iml
.vscode/
.understand-anything/
.cursor/
